{{# partial "head"}}
<script type="text/javascript">
$(function() {
    $(".delete").click(function(evt) {
        var dump_container = $(evt.target).closest(".heapdump");
        var id = dump_container.data("name");
        $.dialog("Deleting...", null, false);
        $.ajax(id + "/delete")
            .done(function() {
                dump_container.remove();
                $.dialog("Dump deleted successfully");
            })
            .error(function(x) {
                data = JSON.parse(x.responseText);
                $.dialog("Failed to delete heap dump", data.error);
            });
    });
});
</script>
{{/partial}}

{{# partial "content"}}
<table class="table table-hover">
    <tbody>
        {{#each this}}
        <tr class="heapdump" data-name="{{this}}" style="cursor: pointer">
            <td>{{this}}</td>
            <td><button class="btn btn-danger delete" title="Delete"><span class="glyphicon glyphicon-trash"></span></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/partial}}

{{> root_layout}}
