{{# partial "head"}}
<script type="text/javascript">
$(function() {
    function dump_heap() {
        $.dialog("Dumping Heap...", "This may take a while.", false);
        $.ajax("dump_heap")
            .done(function(data) {
                var url = "/heapdump/" + data.name + "/index.html";
                var ele = $("<a>");
                ele.attr("href", url);
                ele.text("Open");
                $.dialog("Heap dump successful", ele);
            })
            .fail(function(x) {
                var data = JSON.parse(x.responseText);
                $.dialog("Heap dump failed", data.error, true);
            });
    }
    $("#dump_heap").click(dump_heap);
    $("#detach").click(function() {
        $.dialog("Detaching...", null, false);
        $.ajax("detach")
            .done(function() {
                window.location = "/vm/list.html";
            })
            .fail(function(x) {
                var data = JSON.parse(x.responseText);
                $.dialog("Failed to detach", data.error, true);
            });
    });
});
</script>
{{/partial}}

{{# partial "content"}}
    <dl class="dl-horizontal">
        <dt>PID</dt>
        <dd>{{pid}}</dd>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Provider</dt>
        <dd>{{provider}}</dd>
        <dt>Loaded agent classes</dt>
        <dd>
            <ul>
                {{#each loadedAgentClasses}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </dd>
    </dl>

    <button id="dump_heap" class="btn btn-success">Dump Heap</button>
    <button id="detach" class="btn btn-danger">Detach</button>
{{/partial}}

{{> vm/layout}}
