{{# partial "navbar"}}
    <div class="navbar navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/vm/list.html" title="Running VMs">
                        <span class="glyphicon glyphicon-globe"></span>
                    </a>
                </li>
                <li>
                    <a href="{{#block "path"}}{{/block}}index.html">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        Overview
                    </a>
                </li>
                <li>
                    <a href="{{#block "path"}}{{/block}}sample/forest/index.html">
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        Forest Sampler
                    </a>
                </li>
                <li>
                    <a href="{{#block "path"}}{{/block}}sample/graph/index.html">
                        <span class="glyphicon glyphicon-th"></span>
                        Graph Sampler
                    </a>
                </li>
            </ul>
        </div>
    </div> 
{{/partial}}

{{> layout}}
