{{# partial "head"}}
<script type="text/javascript">
$(function() {
    function dump_heap() {
        $("#dump_dialog").show();
        $("#dump_dialog_label").text("Dumping Heap...");
        $("#dump_dialog p").text("This may take a while.");
        $("#dump_dialog .modal-footer").hide();
        $.ajax("dump_heap")
            .done(function() {
                $("#dump_dialog .modal-footer").show();
                $("#dump_dialog_label").text("Heap dump successful.");
                $("#dump_dialog p").text("todo: link");
            })
            .fail(function(x) {
                $("#dump_dialog .modal-footer").show();
                $("#dump_dialog_label").text("Heap dump failed.");
                var data = JSON.parse(x.responseText);
                $("#dump_dialog p").text(data.error);
            });
    }
    $("#dump_heap").click(dump_heap);
    $("#dump_dialog").hide();
    $("#dump_dialog .modal-footer").click(function() {
        $("#dump_dialog").hide();
    });
});
</script>
{{/partial}}

{{# partial "content"}}
    <dl class="dl-horizontal">
        <dt>PID</dt>
        <dd>{{pid}}</dd>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Provider</dt>
        <dd>{{provider}}</dd>
        <dt>Loaded agent classes</dt>
        <dd>
            <ul>
                {{#each loadedAgentClasses}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </dd>
    </dl>

    <button id="dump_heap" class="btn btn-success">Dump Heap</button>
    <div class="modal" id="dump_dialog" tabindex="-1" role="dialog" aria-labelledby="dump_dialog_label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="dump_dialog_label"></h4>
                </div>
                <p class="modal-body"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">Close</button>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> vm/layout}}
