<html>
<head>
    <title>Profiler</title>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {{#block "head"}}{{/block}}
</head>
<body>
    {{#block "navbar"}}{{/block}}
    <div class="container">
        {{#block "content"}}{{/block}}
    </div>
</body>
</html>
